<div class="app">
  <div class="left-pane">
    <form class="user-form" action="<%= users_url %>" method="post">
      <%= auth_token_input %>

      <div class="user-form-group">
        <label>Username</label>
        <input type="text" name="user[username]" value="">
      </div>

      <div class="user-form-group">
        <label>Password</label>
        <input type="password" name="user[password]" value="">
      </div>

      <input class="whiteButton user-form-button" type="submit" value="Sign Up">
    </form>
  </div>
  <div class="right-pane">
    <h2 style="padding-top:65px">Notes to Beta Users</h2>
    <p>  1. Optimyze is a site to help you find and visualize quicker ways to do repeptitive tasks to help you save time</p>
    <br>
    <p>  2. Demo Account Username: Admin, PW: password (still all faker data =(</p>
    <br>
    <p>  3. This splash page will look better at some point in the future (hopefully)</p>
  </div>
</div>
