/* App */

#app {
  position: relative;
  margin: 0 auto;
  width: 900px;
  min-height: 900px;
  border: 2px solid #000;
}

/*searchIndex*/

#searchIndex {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-height: 20px;
  border: 1px solid #000;
}

/*optimizationsIndex*/

#optimizationsIndex {
  position: relative;
  margin: 0 auto;
  width: 380px;
  min-height: 20px;
  border: 1px solid #000;
}

#newOptimizationButton {
  border: 1px solid #0f0;
  background-color: #00f;
}

/*optimizationIndexItem*/

.optimizationIndexItem {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 350px;
  min-height: 20px;
  border: 1px solid #000;
  background-color: #ccc;
}

.optimizationIndexItem:hover {
  background-color: #aaa;
}

/*optimizationDetail*/

#optimizationDetail {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-height: 20px;
  border: 1px solid #000;
}

/*optimizationNewForm*/

#optimizationNewForm {
  position: relative;
  margin: 0 auto;
  width: 400px;
  min-height: 20px;
  border: 1px solid #000;
}
