/* colors teal:
 100A #A7FFEB
 400A #1DE9B6
 700A #00BFA5
 50 #E0F2F1
 500 #009688 */

/* searchIndex */
.leftMenuDropdown:hover {
  background-color: #A7FFEB !important;
}

/* optimizationIndexItem */
.moreLink {
  color: #009688;
  cursor: pointer;
}

.moreLink:hover {
  text-decoration: underline;
}

.mainMenuTitle:hover {
  text-decoration: underline !important;
}
