.left-pane {
  float: left;
  width: 38%;
  min-height: 400px;
  margin: 3%;
  padding: 3%;
  background-color: #3dd0ac;
}

.right-pane {
  float: right;
  width: 38%;
  margin: 3%;
  padding: 3%;
  min-height: 400px;
}
