.left-pane {
  float: left;
  width: 435px;
  min-height: 400px;
  padding: 10px;
  border: 1px solid #000;
  top: -20;
}

.right-pane {
  float: right;
  width: 420px;
  min-height: 400px;
  padding: 10px;
  border: 1px solid #000;
  top: -20;
}
