.app {
  display: flex;
  flex: 1 100%;
  align-items: center;
}

.left-pane {
  display: flex;
  flex: 1 20%;
  min-height: 100vh;
  background-color: #00C58E;
}

.right-pane {
  display: flex;
  flex: 4 80%;
  min-height: 100vh;
}
