/*sign-in and sign-up*/
/*uses app component container*/
/*uses react-from and react-button classes from components*/

.splash-img-container {
  width: 100vh;
  z-index: 2;
}

.user-form {
  padding: 100px;
}

.user-form-group {
  width: 100%;
  padding-top: 10px;
  vertical-align: middle;
}

.user-form-group > label {
  display: inline-block;
  width: 25%;
  min-height: 43px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #00C58E;
  color: #FFF;
  border-top: 4px solid #00C58E;
}

.user-form-group > input {
  position: relative;
  min-height: 43px;
  width: 75%;
  padding: 8px;
  font-size: 16px;
  background-color: #FFF;
  box-sizing: border-box;
  color: #00C58E;
  border-top: 4px solid #00C58E;
}

.user-form-button {
  margin: 10px;
  padding: 10px;
}
